.section-logo-companies {
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;
    padding: 70px 0;
    
    @media (max-width: 1200px) {
        padding: 40px 0;
    }

    @media (max-width: 768px) {
        padding: 20px 0;
    }
}


.section-logo-companies__container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    row-gap: 20px;
}

.section-logo-companies__logo-wrapper {
    display: flex;
    height: 70px;
    width: fit-content;
    padding: 15px 40px;
    align-items: center;
    border-radius: 50px;
    background:#fff;
    margin: 0 20px;
    
    @media (max-width: 1200px) {
        margin: 0 10px;
    }

    @media (max-width: 768px) {
        margin: 0 10px;
    }
}