.section-my-clients {
  display: block;
  // .section-my-clients__content

  &__content {
    padding: 50px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 50px;

    @media (max-width: 1200px) {
      padding: 30px 0;
      gap: 30px;
    }
  }

  // .section-my-clients__main-title

  &__main-title {
    @include font-gilroy(212px, 300, $font-color-black, "Gilroy");
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 1200px) {
      font-size: 150px;
    }

    @media (max-width: 768px) {
      font-size: 80px;
    }
  }

  // .section-my-clients__grid

  &__grid {
    height: 1214px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media (max-width: 1200px) {
      grid-template-columns: 1fr;
      height: auto;
    }
  }

  // .section-my-clients__item

  &__item {
    // margin-left: 20px;
    // margin-right: 20px;
    // width: 567px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 30px;
    padding: 40px;
    border-bottom: 1px solid #000000;
    border-right: 1px solid #000000;

    &:nth-child(3n) {
      border-right: none;
    }

    &:nth-child(6n+4),
    &:nth-child(6n+5),
    &:nth-child(6n+6) {
      border-bottom: none;
    }

    @media (max-width: 1200px) {
      border-right: none;
      padding-left: 0;
      padding-right: 0;

      &:nth-child(6n+4),
      &:nth-child(6n+5) {
        border-bottom: 1px solid #000000;
      }
    }

  }

  // .section-my-clients__logo

  &__logo {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  // .section-my-clients__title

  &__title {
    @include font-gilroy(clamp(30px, 2.083vw, 40px), 800, $font-color-black, "Gilroy");
    line-height: 110%;
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
      font-size: 40px;
    }


  }

  // .section-my-clients__description

  &__description {
    @include font-inter(clamp(17px, 1.042vw, 20px), 400, $font-color-black, "Inter");
    line-height: 150%;
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  // .section-my-clients__author

  &__author {
    align-items: center;
    justify-self: end;
    display: flex;
    gap: 20px;

  }

  // .section-my-clients__author-img

  &__author-img {
    border-radius: 50px;
    display: flex;
    width: 70px;
    height: 70px;
    gap: 10px;
  }

  // .section-my-clients__author-text

  &__author-text {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  // .section-my-clients__author-name

  &__author-name {
    @include font-inter(clamp(17px, 1.042vw, 20px), 600, $font-color-black, "Inter");
    

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  // .section-my-clients__author-position

  &__author-position {
    @include font-inter(clamp(17px, 1.042vw, 20px), 400, $font-color-black, "Inter");

    @media (max-width: 1200px) {
      font-size: 20px;
    }
  }

  .clients__logo {
    &__1 {
      background-image: url("../../images/logos/logo-6.svg");
      width: 180.861px;
      height: 35.555px;
    }

    &__2 {
      background-image: url("../../images/logos/logo-5.svg");
      width: 105px;
      height: 41px;
    }

    &__3 {
      background-image: url("../../images/logos/logo-4.svg");
      width: 151.861px;
      height: 34.2px;
    }

    &__4 {
      background-image: url("../../images/logos/logo-3.svg");
      width: 174.413px;
      height: 35px;
    }

    &__5 {
      background-image: url("../../images/logos/logo-2.svg");
      width: 84.097px;
      height: 40px;

    }

    &__6 {
      background-image: url("../../images/logos/logo-1.svg");
      width: 150.138px;
      height: 35px;
    }
  }
}