
.section-our-team {
    padding: 50px 0;
    border-top: 1px solid #252525;
    border-bottom: 1px solid #252525;

    @media (max-width: 1200px) {
        padding: 30px 0;
    }
}

.section-our-team__title {
    color: #252525;
    font-family: 'Gilroy';
    font-size: 170px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 8.48px;
    text-transform: uppercase;

    text-align: center;
    margin-bottom: 50px;

    @media (max-width: 1200px) {
        font-size: 124px;
        margin-bottom: 30px;
    }

    @media (max-width: 768px) {
        font-size: 36px;
        margin-bottom: 30px;
    }
}

.section-our-team__grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: min-content;
    row-gap: 30px;
    column-gap: 40px;

    @media (max-width: 1200px) {
        grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 768px) {
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }

    &-item {
        display: flex;
        flex-direction: column; 
        justify-content: flex-start;        
        
    }    
}


.section-our-team__img-holder {
    position: relative;
    padding-top: 130%;
    margin: 15px 0;
    

    img {
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
        object-fit: cover;
        object-position: center;
        filter: grayscale(1);
    }
}

.section-our-team__grid-item-name {
    color: #333;
    font-family: Gilroy;
    font-size: 20px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;

    @media (max-width: 768px) {
        text-align: center;
    }


}

.section-our-team__grid-item-position {
    color: #333;
    font-family: 'Gilroy';
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    @media (max-width: 768px) {
        text-align: center;
    }
}

.social-media--our-team {
    justify-content: flex-end;

    @media (max-width: 768px) {
        justify-content: center;
    } 
  
}

.section-our-team__card:nth-child(7) {
    grid-row: 2/ 3;
    grid-column: 3 /5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;

    @media (max-width: 1200px) {
        grid-row: 4/ 5;
        grid-column: 1 /3;
    }

    @media (max-width: 768px) {
        grid-row: 7/ 8;
        grid-column: 1 /2;
        align-items: center;
    }

    
}

.section-our-team__card--join {
    row-gap: 15px;       


    p {
        color: #333;
        font-family: 'Gilroy';
        font-size: 30px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase;

        @media (max-width: 768px) {
            text-align: center;
            font-size: 20px;           
        }

    }

    h3 {
        color: #333;
        font-family: 'Gilroy';
        font-size: 44px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        text-transform: uppercase; 
        
        @media (max-width: 768px) {
            text-align: center;
            font-size: 30px;
        }
    }
}

.discover-btn--our-team-btn {
    align-self: flex-start;

    @media (max-width: 768px) {
        min-width: 100%;
    }

}














