body {
    background-color: #f5f3ea;
}


a {
    text-decoration: none;
}

.container {
    width: 1920px;
    width: 100%;
    padding: 0 70px;
    margin: 0 auto;
    

    @media (max-width: 1200px) {
        max-width: 990px;
        padding: 0 30px;
    }

    @media (max-width: 768px) {
        max-width: 478px;
        padding: 0 20px;
    }
}

.social-media {
	display: flex;	
	flex-direction: row;
	justify-content: center;
	column-gap: 10px;

        &__icon{
			display: block;
            width: 30px;
            height: 30px;

        }

		// .social-media__facebook

		&__facebook {
            background-image: url('../../images/socials/facebook_black.svg');
		}

		// .social-media__twitter

		&__twitter {
            background-image: url('../../images/socials/twitter_black.svg');
		}

		// .social-media__linkedin

		&__linkedin {
            background-image: url('../../images/socials/linkedin_black.svg');
		}

		// .social-media__dribble

		&__dribble {
            background-image: url('../../images/socials/dribble_black.svg');
		}
}
