@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 700;        
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy-Extrabold.woff") format("woff");
    font-weight: 800;            
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 300;        
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy-Medium.woff") format("woff");
    font-weight: 500;          
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;            
}

@font-face {
    font-family: "Gilroy";
    src: url("../../fonts/Gilroy-Semibold.woff") format("woff");
    font-weight: 600;            
}

@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter-LightBETA.woff") format("woff");
    font-weight: 300;            
}


@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter-Regular.woff") format("woff");
    font-weight: 400;            
}

@font-face {
    font-family: "Inter";
    src: url("../../fonts/Inter-SemiBold.woff") format("woff");
    font-weight: 600;            
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../../fonts/Gilroy-Light.woff") format("woff");
    font-weight: 400;        
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("../../fonts/Gilroy-Bold.woff") format("woff");
    font-weight: 400;        
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("../../fonts/Gilroy-Medium.woff") format("woff");
    font-weight: 400;          
}

@font-face {
    font-family: "Gilroy-Regular";
    src: url("../../fonts/Gilroy-Regular.woff") format("woff");
    font-weight: 400;            
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("../../fonts/Gilroy-Semibold.woff") format("woff");
    font-weight: 400;
}

@font-face {
    font-family: "Gilroy-Light";
    src: url("../../fonts/Gilroy-Light.woff") format("woff");  
}